html {
    font-family: sans-serif;
    color: white;
	/* Background pattern from subtlepatterns.com */
    background-image: url('images/darth_stripe.png');
}

#background{
    background-color: #7F7F7F;
    opacity: 0.8;
    border-radius: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#background *{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    text-shadow: black 1px 1px 1px;
}

#info{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

#profilePhoto{
    border-radius: 50%;
    float:left;
    margin-right: 25px;
}

#schoolWorkChart {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: -50px;
    box-sizing: border-box;
}


