html {
    font-family: sans-serif;
    color: white;
	/* Background pattern from subtlepatterns.com */
    background-image: url('images/darth_stripe.png');
}

#background{
    background-color: rgba(165,165,165,0.4);
    border-radius: 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

#background *{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    text-align: center;
    text-shadow: black 1px 1px 1px;
    vertical-align: middle;
}

#profilePhoto{
    display: inline-block;
    border-radius: 50%;
}

#schoolWorkChart {
    padding-top: 1.5em;
    margin-bottom: 3.125em;
    box-sizing: border-box;
}


